<div class="page-header">
<h1>Welcome to GH's homepage!<h1></div>

<p> From here you can go to see a list of <%= link_to "Residents", residents_path %> and create new Residents.</p>
<p>You will also be able to <%= link_to "Log Packages" %> and view and update current GH <%= link_to "Employees" %>.</p>
